<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
  <div th:replace="fragments.html :: main-nav"></div>
  <div class="container">
      <div class="py-5 text-center">
        <p class="lead">스터디올래</p>
        <h2>로그인</h2>
      </div>
      <div class="row justify-content-center">
          <div th:if="${param.error}" class="alert alert-danger" role="alert">
              <p>이메일{또는 닉네임}과 패스워드가 정확하지 않습니다.</p>
              <p>또는 확인되지 않은 이메일을 사용했습니다. 이메일을 확인해 주세요.</p>
              <p>
                  확인 후 다시 입력하시거나, <a href="#" th:href="@{/find-password}">패스워드 찾기</a>를 이용하세요.
              </p>
          </div>

          <form class="needs-validation col-sm-6" action="#" th:action="@{/login}" method="post" novalidate>
          </form>
      </div>

    <div th:replace="fragments.html :: footer"></div>
  </div>
</body>
</html>