<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragments.html" :: settings-menu(currentMenu="'profile')"></div>
        </div>
        <div class="col-8">
            <div class="row">
                <h2 class="col-sm-12" th:text="${account.nickname}">whiteship</h2>
            </div>
            <div class="row mt-3">
                <form class="col-sm-6" action="#"
                      th:action="@{/settings/profile}" th:object="${profile}" method="post" novalidate>
                    <div class="form-group">
                        <label for="bio">한 줄 소개</label>
                        <input id="bio" type="text" th:field="*{bio}" class="form-control"
                               placeholder="간략한 소개를 부탁합니다." aria-describedby="bioHelp" required>
                        <small id="bioHelp" class="form-text text-muted">
                            길지 않게 35자 이내로 입력하세요.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:errors="*{bio}">
                            조금 길어요.
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="url">링크</label>
                        <input id="url" type="url" th:field="*{url}" class="form-control"
                               placeholder="http://studyolle.com" aria-describedby="urlHelp" required>
                        <small id="urlHelp" class="form-text text-muted">
                            블로그, 유튜브 또는 포트폴리오나 좋아하는 웹 사이트 등 본인을 표현할 수 있는 링크를 추가하세요.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">
                            올바른 URL이 아닙니다. 예시처럼 입력해 주세요.
                        </small>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>